*.idea
*.vscode/
*__pycache__
*ipynb_checkpoints

# Data Skipped
*.csv
*.txt
*.png
*.tsv
*.jpg
*.jpeg
Special Projects/data/
Special Projects/aclImdb/

# Models Skipped
*.h5
*.hd5
*.model
Special Projects/models/
Special Projects/checkpoints/

# Binaries Skipped
ckpt*
*logs
*.tflite
checkpoint
*.tfrecord
*.tfrecords
tf_hub/random_projection_matrix
tf_hub/index
tf_hub/index.mapping
