*__pycache__
*ipynb_checkpoints

# Data Skipped
*.csv
*.txt
*.png
*.tsv
*.jpg
*.jpeg

# Models Skipped
*.h5
*.hd5
*.model
Special Projects/models/

# Binaries Skipped
ckpt*
checkpoint
*.tfrecord
*.tfrecords
