*.idea
*__pycache__
*ipynb_checkpoints

# Data Skipped
*.csv
*.txt
*.png
*.tsv
*.jpg
*.jpeg

# Models Skipped
*.h5
*.hd5
*.model
Special Projects/models/

# Binaries Skipped
ckpt*
*logs
checkpoint
*.tfrecord
*.tfrecords
tf_hub/random_projection_matrix
tf_hub/index
tf_hub/index.mapping
